.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #d8d8d8; }

.backgroundColorBody {
  background-color: #f2f2f2; }

.tableStyle {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.floatLeft {
  float: left; }

.loginTextTitle {
  color: #17A2B8;
  font-size: 16px;
  cursor: pointer; }

.titleModalRegist {
  font-size: 20px; }

.buttonSubmit {
  margin-top: 30px !important; }

.resetPassword {
  font-size: 16px;
  padding-top: 10px;
  cursor: pointer;
  color: #17A2B8; }

.resetPassword:hover {
  cursor: pointer;
  color: #0d616e; }

.email {
  margin-top: 6px;
  cursor: default !important; }

.logo {
  margin-top: 6px;
  color: black !important; }

.navbar {
  background-image: none !important;
  background-color: #d8d8d8 !important;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  position: static !important; }

.header {
  background: linear-gradient(#d8d8d8, #f2f2f2); }

.headerLogoText {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 60px; }

.headerText {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 17px;
  padding-bottom: 40px; }

.error {
  background-color: #f2f2f2; }

.footer {
  background-color: #d8d8d8; }

.footerTextUp {
  padding-top: 30px;
  font-size: 16px; }

.footerTextDown {
  margin-bottom: 0px;
  padding-bottom: 30px;
  font-size: 16px; }

.pager {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important; }

.prevNextStyleDown {
  padding-bottom: 20px; }

.cursorPoiner {
  cursor: pointer !important; }

.tableText {
  font-weight: 400;
  font-size: 14px; }

.sizeRow {
  padding-top: 8px;
  padding-bottom: 8px; }

.colorHover {
  cursor: pointer;
  font-weight: 400;
  color: white;
  padding: 3px;
  border-radius: 3px;
  background-color: #646464; }

.colorHover:hover {
  background-color: #2b9eca; }

.prevNextStyle {
  padding-bottom: 20px; }
