.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #d8d8d8; }

.backgroundColorBody {
  background-color: #f2f2f2; }

.stylingForFAQ {
  font-size: 16px; }

.textAdress {
  padding-top: 40px;
  font-size: 18px; }

.styleQ {
  font-size: 18px; }

.paddingForFAQ {
  padding-left: 23px; }

.tableStyle {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.displayNone {
  display: none; }

.dispaly {
  display: inline;
  position: absolute;
  background-color: #646464;
  opacity: 0.9;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px; }

.floatLeft {
  float: left; }

.loginTextTitle {
  color: #17A2B8;
  font-size: 16px;
  cursor: pointer; }

.titleModalRegist {
  font-size: 20px; }

.paddingNone {
  margin-bottom: 0px !important; }

.buttonSubmit {
  margin-top: 30px !important; }

.resetPassword {
  font-size: 16px;
  padding-top: 10px;
  cursor: pointer;
  color: #17A2B8; }

.resetPassword:hover {
  cursor: pointer;
  color: #0d616e; }

.email {
  margin-top: 6px;
  cursor: default !important; }

.logo {
  position: relative;
  top: 12px;
  left: 10px;
  color: black !important; }

.navbar {
  background-image: none !important;
  background-color: #d8d8d8 !important;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  position: static !important; }

.header {
  background: linear-gradient(#d8d8d8, #f2f2f2); }

.registText {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 30px; }

.privateRow {
  padding-left: 5px; }

.error {
  background-color: #f2f2f2; }

.footer {
  background-color: #d8d8d8; }

.footerTextUp {
  padding-top: 40px;
  margin-bottom: 0px;
  font-size: 16px; }

.footerTextDown {
  margin-bottom: 0px;
  padding-bottom: 40px;
  font-size: 16px; }

.pager {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important; }

.prevNextStyleDown {
  padding-bottom: 20px; }

.cursorPoiner {
  cursor: pointer !important; }

.tableText {
  font-weight: 400;
  font-size: 14px; }

.sizeRow {
  padding-top: 8px;
  padding-bottom: 8px; }

.colorHover {
  cursor: pointer;
  font-weight: 400;
  color: white;
  padding: 3px;
  border-radius: 3px;
  background-color: #646464; }

.waiting {
  font-weight: 400;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 3px;
  background-color: #646464;
  cursor: pointer; }

.waiting:hover {
  background-color: #2b9eca;
  cursor: pointer; }

.sussessFind {
  font-weight: 400;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 3px;
  background-color: #4dae4a; }

.faildFind {
  font-weight: 400;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 3px;
  background-color: #ec4649; }

.transactionFind {
  font-weight: 400;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 3px;
  background-color: #0a61ff; }

.transactionFind:hover {
  background-color: #2b9eca;
  cursor: pointer; }

.faildFind:hover {
  background-color: #2b9eca;
  cursor: pointer; }

.colorHover:hover {
  background-color: #2b9eca; }

.prevNextStyle {
  padding-bottom: 20px; }

.click {
  padding-top: 20px;
  font-size: 90px;
  margin-bottom: 0px; }

.clickText {
  padding-left: 5px;
  font-size: 30px; }

.transaction {
  padding-left: 20px; }

.clickLabel {
  padding-left: 20px;
  font-size: 40px;
  margin-bottom: 0px;
  color: white; }

.clickTextLabel {
  padding-left: 5px;
  font-size: 20px; }

.transactionLabel {
  padding-left: 10px; }

.transactionLabelText {
  padding-left: 5px;
  font-size: 20px;
  padding-right: 10px; }

.walletFind {
  cursor: pointer;
  font-weight: 400;
  color: white;
  padding: 3px;
  border-radius: 3px;
  background-color: #9e9e9e; }

.logoImg {
  width: 50px;
  height: 50px;
  float: left; }

.linkTable {
  color: white;
  text-decoration: none !important; }

.linkTable:visited {
  color: white;
  text-decoration: none !important; }

.linkTable:hover {
  color: white;
  text-decoration: none !important; }

.linkTable:active {
  color: white;
  text-decoration: none !important; }

.FAQ {
  display: inline;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d8d8d8; }

.FAQ:link {
  text-decoration: none !important;
  color: black; }

.FAQ:visited {
  text-decoration: none;
  color: black; }

body,
html,
.app {
  position: relative;
  min-height: 84.5vh;
  background-color: #f2f2f2; }

.FAQ:hover {
  text-decoration: none;
  color: white;
  background-color: #2ea618; }

.FAQActive {
  text-decoration: none;
  color: white !important;
  background-color: #2ea618; }

.basicPage {
  display: inline;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d8d8d8; }

.basicPage:link {
  text-decoration: none !important;
  color: black; }

.basicPage:visited {
  text-decoration: none;
  color: black; }

.basicPage:hover {
  text-decoration: none;
  color: white;
  background-color: #2b9eca; }

.basicPage:active {
  text-decoration: none;
  color: white;
  background-color: #d8d8d8; }

.UsedAdress {
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d8d8d8; }

.UsedAdress:link {
  text-decoration: none !important; }

.UsedAdress:visited {
  text-decoration: none !important; }

.UsedAdress:hover {
  text-decoration: none !important;
  color: white;
  background-color: #0a61ff; }

.UsedAdressActive {
  text-decoration: none;
  color: white !important;
  background-color: #0a61ff; }

.linkSpace {
  background-color: #f2f2f2; }

.pages {
  padding-top: 27px; }

.Previous {
  float: left;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none !important; }

.Previous:hover {
  background-color: #d8d8d8; }

.Next {
  float: right;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none !important; }

.Next:hover {
  background-color: #d8d8d8; }

.Random {
  background-color: #17A2B8;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  border-radius: 7px;
  text-decoration: none !important; }

.Random:link {
  background-color: #17A2B8;
  color: white; }

.Random:hover {
  background-color: #148a9c;
  color: white; }

.headerFixed {
  position: fixed;
  top: 0px;
  opacity: 0.9;
  left: -10px;
  background-color: #646464;
  border-radius: 10px;
  animation: linear 1;
  animation-name: run;
  animation-duration: 1s; }

@keyframes run {
  0% {
    left: -200px; }
  50% {
    left: 10px; }
  100% {
    left: -10px; } }

.headerDisapear {
  position: fixed;
  top: 0px;
  opacity: 0.9;
  background-color: #646464;
  left: -10px;
  border-radius: 10px;
  animation: linear 1;
  animation-name: disapear;
  animation-duration: 0.5s; }

@keyframes disapear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.mobileDisplay {
  overflow-x: auto; }

.oneLine {
  display: inline; }

.paddingLeftRow {
  padding-left: 15px; }

.paddingForAchievement {
  padding-bottom: 30px; }

.usedAdressMobile {
  display: none !important; }

.faqMobile {
  display: none !important; }

.styleForButtonAdress {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important; }

@media (min-width: 320px) and (max-width: 480px) {
  .paddingForFAQ {
    padding: 0px !important; }
  .usedAdressMobile {
    display: inline !important; }
  .faqMobile {
    display: inline !important; }
  .FAQ {
    display: none; }
  .UsedAdress {
    display: none; }
  .basicPage {
    display: none; }
  .transactionFind:hover {
    background-color: #646464;
    cursor: pointer; }
  .waiting:hover {
    background-color: #646464;
    cursor: pointer; }
  .faildFind:hover {
    background-color: #646464;
    cursor: pointer; }
  .paddingRightRow {
    padding-right: 10px; }
  .click {
    padding-top: 0px;
    font-size: 50px;
    margin-bottom: 0px; }
  .clickText {
    padding-left: 5px;
    font-size: 20px; }
  .oneLine {
    display: block; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none !important; }
  .clickLabel {
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 0px;
    color: white; }
  .clickTextLabel {
    padding-left: 5px;
    font-size: 12px; }
  .transactionLabel {
    padding-left: 10px; }
  .transactionLabelText {
    padding-left: 5px;
    font-size: 12px;
    padding-right: 10px; } }

@media (min-width: 481px) and (max-width: 812px) {
  .usedAdressMobile {
    display: none !important; }
  .faqMobile {
    display: none !important; }
  .FAQ {
    display: inline; }
  .UsedAdress {
    display: inline; }
  .basicPage {
    display: inline; }
  .transactionFind:hover {
    background-color: #646464;
    cursor: pointer; }
  .waiting:hover {
    background-color: #646464;
    cursor: pointer; }
  .faildFind:hover {
    background-color: #646464;
    cursor: pointer; }
  .paddingRightRow {
    padding-right: 10px; }
  .click {
    padding-top: 0px;
    font-size: 55px;
    margin-bottom: 0px; }
  .clickText {
    padding-left: 5px;
    font-size: 25px; } }
